.fitness-home-card {
    &__container {
        display: flex;
        flex-direction: row;
        height: 90px;
    }
    &__text-container {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-bottom: 20px;
        margin-top: 20px;

    }


    &__text-container-title {
        font-size: larger;
        text-transform: capitalize;
    }


    &__relationship-container {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }

    &__image {
        margin-top: 15px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    &__relationship-container-title {
        text-transform: capitalize;
    }
}