<ng-container *ngIf="trackers">
  <ion-list-header *ngIf="showHeader">
    <ion-label>Manage Trackers</ion-label>
    <ion-button color="secondary">
      <ion-icon name="refresh-outline"></ion-icon>
    </ion-button>
  </ion-list-header>
  <ion-card>
    <ion-list>
      <ion-item *ngFor="let tracker of trackers" detail (click)="goToTrackerDetails(tracker.trackerId)">
        <ion-thumbnail slot="start">
          <ion-img [src]="tracker.trackerId == 100 ? 'assets/icon/applehealth.png' : 'assets/icon/googlefit.png'"></ion-img>
        </ion-thumbnail>
        <div>
          <ion-label>{{ tracker.trackerName }}</ion-label>
          <ion-label>Last Synced: {{ tracker.updatedAt }}</ion-label>
        </div>
      </ion-item>
    </ion-list>
  </ion-card>
</ng-container>
