<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="mytrackers">
      <ion-icon name="watch-outline"></ion-icon>
      <ion-label>Trackers</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="myfamily">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Fitness</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="notifications">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="familyfitnesssummary">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>FamilyFitnessSummary</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
