<ion-card>
  <ion-item-group>
    <ion-item-divider>
      <ion-label>Self</ion-label>
    </ion-item-divider>
    <ion-item (click)="goToFitnessDetails()" detail>
      <app-fitness-home-card></app-fitness-home-card>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>My Family</ion-label>
    </ion-item-divider>
    <ion-item (click)="goToFitnessDetails()" detail>
      <app-fitness-home-card></app-fitness-home-card>
    </ion-item>
    <ion-item (click)="goToFitnessDetails()" detail>
      <app-fitness-home-card></app-fitness-home-card>
    </ion-item>
    <ion-item (click)="goToFitnessDetails()" detail>
      <app-fitness-home-card></app-fitness-home-card>
    </ion-item>
  </ion-item-group>
</ion-card>