<ion-header>
  <ion-toolbar>
    <ion-title>Tracker Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img [src]="'assets/icon/applehealth.png'"></ion-img>
      </ion-thumbnail>
      <div>
        <ion-label>Tracker Name:</ion-label>
        <ion-label>Apple Health</ion-label>
      </div>
    </ion-item>
    <ion-button shape="round" type="primary">Remove Tracker</ion-button>
  </ion-card>

</ion-content>
