<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Tracker Details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="!isLoading" class="tracker-details">
  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start" class="tracker-details__header">
        <ion-img [src]="tracker.trackerId == 100 ? 'assets/icon/applehealth.png' : 'assets/icon/googlefit.png'"></ion-img>
      </ion-thumbnail>
      <div class="tracker-details__header-title-container">
        <ion-label class="tracker-details__header-title">Tracker Name</ion-label>
        <ion-label class="tracker-details__header-sub-title">{{ tracker.trackerName}}</ion-label>
      </div>
    </ion-item>
    <div>
      <ion-segment mode="md" [value]="selectedTrackerDate"[scrollable]="true" class="tracker-details__segment">
        <ion-segment-button [value]="trackerData.date" *ngFor="let trackerData of trackersData" (click)="selectedDay(trackerData)">
          <ion-label> {{ trackerData.date }}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <div class="tracker-details__tracker-content">
        <div class="tracker-details__tracker-content-steps"> 
          <ion-label class="tracker-details__tracker-content-label"><strong>Active</strong></ion-label>
          <ion-label>{{ selectedTrackerData.steps }} steps</ion-label>
        </div>
        <div class= "tracker-details__tracker-content-sleep">
          <ion-label class="tracker-details__tracker-content-label"><strong>Sleep</strong></ion-label>
          <ion-label>{{ selectedTrackerData.sleepInSeconds }} minutes</ion-label>
        </div>
        <div class= "tracker-details__tracker-content-food">
          <ion-label class="tracker-details__tracker-content-label"><strong>Food</strong></ion-label>
          <ion-label>{{ selectedTrackerData.food }} calories</ion-label>
        </div>
      </div>
  </ion-card>
  <ion-button shape="round" type="primary" (click)="unlinkTracker()" *ngIf="!userId">Remove Tracker</ion-button>
</ion-content>